codecov
tox
mock
pkgversion
pytest<=4.1.1 # https://github.com/pytest-dev/pytest/issues/4704
              # (incompatibility between pytest-django and new versions of pytest)
pytest-cov
pytest-django
readme_renderer[md]
twine
setuptools
wheel